<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Health Guard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
            <li><a href="/pregnancy">Pregnancy Prediction</a></li>
            <li><a href="/heart">Heart Prediction</a></li>
            <li><a href="/diabetes">Diabetes Prediction</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
