{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Pregnancy Risk Prediction</h1>
    <form action="/pregnancy" method="POST">
        <div class="form-group">
            <label for="age">Age of the Person</label>
            <input type="text" id="age" name="age" required>
        </div>
        <div class="form-group">
            <label for="diastolicBP">Diastolic Blood Pressure (mmHg)</label>
            <input type="text" id="diastolicBP" name="diastolicBP" required>
        </div>
        <div class="form-group">
            <label for="BS">Blood Glucose (mmol/L)</label>
            <input type="text" id="BS" name="BS" required>
        </div>
        <div class="form-group">
            <label for="bodyTemp">Body Temperature (Celsius)</label>
            <input type="text" id="bodyTemp" name="bodyTemp" required>
        </div>
        <div class="form-group">
            <label for="heartRate">Heart Rate (beats per minute)</label>
            <input type="text" id="heartRate" name="heartRate" required>
        </div>
        <button type="submit" class="button button-primary">Pregnancy Test Result</button>
    </form>
    {% if risk_level %}
    <div class="result {{ color }}">
        <p>{{ risk_level }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
